@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// основной шрифт и размер //

$fontFamily: "Roboto", sans-serif;
$fontWeight: 400;
$fontSize: 18px;
$mainColor: #333333;

@import "_null";

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 1470px; // (padding 30px)
  margin: 0px auto;
  padding: 0px 15px;
  // Прижимаем footer
  > main {
    flex: 1 1 auto;
  }
}

[class*="__container"] {
  max-width: 1270px; // (padding 30px)
  margin: 0px auto;
  padding: 0px 15px;
  background-color: #bdb6b6;
}

/////////////////////////////////////
.footer {
  background-color: #e2b8b8;
  min-height: 60px;
  padding: 20px;
  // .footer__container

  &__container {
    outline: #fff double 5px;
    box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }

  // .footer__items

  &__items {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: #bdb6b6;
    width: 100%;
    margin: 0 auto;
    a {
      transition: all 0.3s ease 0s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  // .footer__item

  &__item {
    background-color: #bdb6b6;
    width: 100px;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
  }

  // .footer__link

  &__link {
  }

  // .footer__image

  &__image {
    width: 100%;
    height: 30px;
  }
}
