@charset "UTF-8";
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Forum";
  src: url("../fonts/Forum.woff2") format("woff2"), url("../fonts/Forum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.welcome__title, .header__title, .header-main__title {
  font-family: "Forum";
}

/* Обнуление стилей */
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

body,
html {
  height: 100%;
}

input,
button,
textarea {
  font-family: "Inter", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

body {
  color: #000000;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  background: rgba(218, 213, 213, 0.258);
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1440px;
  margin: 0px auto;
  background: #fff;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 1450px;
  margin: 0px auto;
  padding: 1.25rem 1.25rem 2.5rem 1.25rem;
}
[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-main {
  position: relative;
  padding: 0rem 0rem 1.25rem 0rem;
  text-align: center;
}
.header-main__title {
  color: #0c0c0e;
  font-size: 40px;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.header-main__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 48.2%;
  width: 50px;
  height: 1px;
  background-color: #0c0c0e;
}

.header__container {
  background: #0c0c0e;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header__title {
  font-size: 30px;
  line-height: 1.67;
  letter-spacing: 0.6px;
}
.header__menu {
  margin-left: auto;
}
.header__menu:not(:last-child) {
  margin-right: 2.5rem;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px 30px;
  line-height: 2.5;
}
.menu__link {
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menu__link::before {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 2px;
  width: 0;
  background-color: #fff;
  border-radius: 50px;
  -webkit-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
.menu__link:hover::before {
  width: 100%;
}
.welcome__body {
  position: relative;
  padding-top: 220px;
  padding-bottom: 160px;
}
.welcome__content {
  position: relative;
  z-index: 3;
  max-width: 600px;
  background-color: #0c0c0e;
  padding: 35px 40px;
}
.welcome__title {
  max-width: 520px;
  color: #fff;
  font-size: 40px;
  line-height: 1.25;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
}
.welcome__image-ibg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.welcome__image-ibg::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0c0c0e), color-stop(0.01%, #0c0c0e), to(rgba(18, 18, 21, 0.1)));
  background-image: -o-linear-gradient(top, #0c0c0e 0%, #0c0c0e 0.01%, rgba(18, 18, 21, 0.1) 100%);
  background-image: linear-gradient(180deg, #0c0c0e 0%, #0c0c0e 0.01%, rgba(18, 18, 21, 0.1) 100%);
}

.about__container {
  padding-bottom: 2.1875rem;
}
.about__header:not(:last-child) {
  margin-bottom: 40px;
}
.about__text {
  text-align: center;
  line-height: 2;
}
.about__text:not(:last-child) {
  margin-bottom: 20px;
}
.slider-main-block {
  overflow: hidden;
}
.slider-main-block__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}
.slider-main-block__wrapper:not(:last-child) {
  margin-bottom: 35px;
}
.slider-main-block__circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider-main-block__circle {
  width: 26px;
  height: 26px;
  border-radius: 50px;
  border: 5px solid #fff;
  cursor: pointer;
}
.slider-main-block__circle.swiper-button-one {
  background: #bb945f;
}
.slider-main-block__circle.swiper-button-two {
  background: #0c0c0e;
}
.slider-main-block__circle.swiper-button-three {
  background: #0c0c0e;
}