@charset "UTF-8";
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Forum";
  src: url("../fonts/Forum.woff2") format("woff2"), url("../fonts/Forum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.item-tabs__subtitle, .welcome__title, .header__title, .header-main__title {
  font-family: "Forum";
}

/* Обнуление стилей */
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

body,
html {
  height: 100%;
}

input,
button,
textarea {
  font-family: "Inter", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

body {
  color: #000000;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  background: rgba(218, 213, 213, 0.258);
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1440px;
  margin: 0px auto;
  background: #fff;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 1450px;
  margin: 0px auto;
  padding: 1.25rem 1.25rem 2.5rem 1.25rem;
}
[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-main {
  position: relative;
  padding: 0rem 0rem 1.25rem 0rem;
  text-align: center;
}
.header-main__title {
  color: #0c0c0e;
  font-size: 40px;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.header-main__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 48.2%;
  width: 50px;
  height: 1px;
  background-color: #0c0c0e;
}

.header__container {
  background: #0c0c0e;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header__title {
  font-size: 30px;
  line-height: 1.67;
  letter-spacing: 0.6px;
}
.header__menu {
  margin-left: auto;
}
.header__menu:not(:last-child) {
  margin-right: 2.5rem;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px 30px;
  line-height: 2.5;
}
.menu__link {
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menu__link::before {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 2px;
  width: 0;
  background-color: #fff;
  border-radius: 50px;
  -webkit-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
.menu__link:hover::before {
  width: 100%;
}
.welcome__body {
  position: relative;
  padding-top: 220px;
  padding-bottom: 160px;
}
.welcome__content {
  position: relative;
  z-index: 3;
  max-width: 600px;
  background-color: #0c0c0e;
  padding: 35px 40px;
}
.welcome__title {
  max-width: 520px;
  color: #fff;
  font-size: 40px;
  line-height: 1.25;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
}
.welcome__image-ibg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.welcome__image-ibg::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0c0c0e), color-stop(0.01%, #0c0c0e), to(rgba(18, 18, 21, 0.1)));
  background-image: -o-linear-gradient(top, #0c0c0e 0%, #0c0c0e 0.01%, rgba(18, 18, 21, 0.1) 100%);
  background-image: linear-gradient(180deg, #0c0c0e 0%, #0c0c0e 0.01%, rgba(18, 18, 21, 0.1) 100%);
}

.about__container {
  padding-bottom: 2.1875rem;
}
.about__header:not(:last-child) {
  margin-bottom: 40px;
}
.about__text {
  text-align: center;
  line-height: 2;
}
.about__text:not(:last-child) {
  margin-bottom: 20px;
}
.slider-main-block {
  overflow: hidden;
}
.slider-main-block__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}
.slider-main-block__wrapper:not(:last-child) {
  margin-bottom: 35px;
}
.slider-main-block__circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider-main-block__circle {
  width: 26px;
  height: 26px;
  border-radius: 50px;
  border: 5px solid #fff;
  cursor: pointer;
}
.slider-main-block__circle.swiper-button-one {
  background: #bb945f;
}
.slider-main-block__circle.swiper-button-two {
  background: #0c0c0e;
}
.slider-main-block__circle.swiper-button-three {
  background: #0c0c0e;
}

/*
.page {
  // .page__favorites

  &__favorites {
  }
}
.favorites {
  // .favorites__container

  &__container {
    > *:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  // .favorites__header

  &__header {
  }

  // .favorites__text

  &__text {
    font-weight: 700;
    line-height: 1.2;
  }

  // .favorites__tabs

  &__tabs {
  }
}

.tabs {
  // .tabs__nav

  &__nav {
    display: flex;
    justify-content: flex-start;
    column-gap: 90px;
    &:not(:last-child) {
      margin-bottom: 41px;
    }
  }

  // .tabs__label

  &__label {
    padding-left: 38px;
    cursor: pointer;
    line-height: 1.2;
  }

  // .tabs__input

  &__input {
    position: absolute;
    appearance: none;
    &:checked + .tabs__box {
      background-image: url(../img/favorites/nav/group.svg);
    }
    &:checked ~ .tabs__text {
      font-weight: 700;
    }
  }

  // .tabs__box

  &__box {
    position: absolute;
    margin-top: 5px;
    width: 17px;
    height: 17px;
    margin-left: -40px;
    background-image: url(../img/favorites/nav/ellipse.svg);
  }

  // .tabs__box

  &__text {
  }

  // .tabs__body

  &__body {
  }

  // .tabs__item

  &__item {
  }
}
.item-tabs {
  // .item-tabs_winter

  &_winter {
  }

  // .item-tabs__items

  &__items {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    //column-gap: 220px;
    row-gap: 40px;
    //padding-right: 40px;
  }

  // .item-tabs__item

  &__item {
    position: relative;
    //flex: 0 1 50%;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 14px 0 14px 19px;
    margin-right: 40px;
    border: 1px solid #000;
    width: 100%;
  }

  // .item-tabs__subtitle

  &__subtitle {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    @extend %forum;
    line-height: 2;
    letter-spacing: 2px;
    text-transform: capitalize;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 60px;
      height: 1px;
      background-color: #bb945f;
    }
  }

  // .item-tabs__title

  &__title {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    & span {
      display: block;
      font-size: 15px;
      font-weight: 700;
      line-height: 266.667%;
      letter-spacing: 2px;
    }
    & .item-tabs__eaters {
      text-transform: uppercase;
    }
    & .item-tabs__dean {
      text-transform: capitalize;
    }
  }

  // .item-tabs__text

  &__text {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    max-width: 355px;
    min-height: 320px;
    font-size: 15px;
    line-height: 266.667%;
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  // .item-tabs__button

  &__button {
  }

  // .item-tabs__image-ibg

  &__image-ibg {
    position: absolute;
    right: -40px;
    bottom: -1px;
    width: 200px;
    height: 300px;
  }
}
.button {
  display: flex;
  max-width: 75px;
  padding: 8px 26px;
  font-size: 10px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #0c0c0e;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
}
*/
.favorites__container > *:not(:last-child) {
  margin-bottom: 40px;
}
.favorites__text {
  font-weight: 700;
  line-height: 1.2;
}
.tabs__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 90px;
     -moz-column-gap: 90px;
          column-gap: 90px;
}
.tabs__nav:not(:last-child) {
  margin-bottom: 41px;
}
.tabs__label {
  padding-left: 38px;
  cursor: pointer;
  line-height: 1.2;
}
.tabs__input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.tabs__input:checked + .tabs__box {
  background-image: url(../img/favorites/nav/group.svg);
}
.tabs__input:checked ~ .tabs__text {
  font-weight: 700;
}
.tabs__box {
  position: absolute;
  margin-top: 5px;
  width: 17px;
  height: 17px;
  margin-left: -40px;
  background-image: url(../img/favorites/nav/ellipse.svg);
}
.item-tabs__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 40px;
}
.item-tabs__item {
  position: relative;
  max-width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px 0 14px 19px;
  margin-right: 40px;
  border: 1px solid #000;
  width: 100%;
}
.item-tabs__subtitle {
  position: relative;
  line-height: 2;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.item-tabs__subtitle:not(:last-child) {
  margin-bottom: 20px;
}
.item-tabs__subtitle::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 1px;
  background-color: #bb945f;
}
.item-tabs__title:not(:last-child) {
  margin-bottom: 20px;
}
.item-tabs__title span {
  display: block;
  font-size: 15px;
  font-weight: 700;
  line-height: 266.667%;
  letter-spacing: 2px;
}
.item-tabs__title .item-tabs__eaters {
  text-transform: uppercase;
}
.item-tabs__title .item-tabs__dean {
  text-transform: capitalize;
}
.item-tabs__text {
  max-width: 355px;
  min-height: 320px;
  font-size: 15px;
  line-height: 266.667%;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.item-tabs__text:not(:last-child) {
  margin-bottom: 16px;
}
.item-tabs__button:hover {
  background-color: #bb945f;
  border: 1px solid #bb945f;
}
.item-tabs__image-ibg {
  position: absolute;
  right: -40px;
  bottom: -1px;
  width: 200px;
  height: 300px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 75px;
  padding: 8px 26px;
  font-size: 10px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #0c0c0e;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.button_own {
  color: #bb945f;
  border: 1px solid #bb945f;
  pointer-events: none;
}